**/.DS_Store
**/create_user.py
/backend/app/script.py
/backend/app/storage/media/
/backend/app/__pycache__/
/firmware/smartTV/digital_signage_app/*
!/firmware/smartTV/digital_signage_app/lib/
!/firmware/smartTV/digital_signage_app/lib/main.dart
!/firmware/smartTV/digital_signage_app/pubspec.yaml.DS_Store
/frontend/assets/*
!/frontend/assets/logo-black.png
!/frontend/assets/logo-white.svg
!/frontend/assets/logo-white-eng.svg
/firmware/raspberrypi/setup_page/assets/
**/setup.json
/firmware/raspberrypi/setup_page/__pycache__/
**/.env
/frontend/testing/*