Package     Version
---------------- -------
fastapi     0.116.1
httptools    0.6.4
Jinja2      3.1.6
passlib     1.7.4
psycopg2-binary 2.9.10
python-dotenv  1.1.1
python-jose   3.5.0
python-multipart 0.0.20
PyYAML      6.0.2
requests     2.32.4
setuptools    80.9.0
sqlmodel     0.0.24
storage     0.0.4.3
uvicorn     0.35.0
uvloop      0.21.0
watchfiles    1.1.0
websockets    15.0.1